body
{
    background: rgba(0,0,0,0.85);
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
}
h1
{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 5%;
}
h2,.weather-desc,.wind-speed
{
    font-family: 'Nunito','Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin: 2% 0 0 0%;
    letter-spacing: 1px;
}
h3,p
{
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}
.current-city h2 span
{
    color: lightgray;
    font-size: 37px;
    font-family: 'Nunito', 'Open Sans', sans-serif;
}
p
{
    font-size: large;
    font-weight: bolder;
    position: absolute;
    right: 0;
    bottom: 0;
    color: whitesmoke;
    left: 0;
    padding: 1rem;
}
img
{
    display: block;
    margin: 0 auto;
    margin-top: 1%;
    width: 150px;
    height: 150px;
}
